

@media screen and (max-width: 1200px) {
  .search-header__input {
    min-width: auto;
}

.categor__item {
  max-width: 32%;
}

.categor-abvant-item::after {
  background: none;
}

.categor-form {
  overflow: hidden;
}

.about__img {
    height: 165px;
    }

}

@media screen and (max-width: 1024px) {
.catalog-card {
  width: 48%;
}
.header-menu__item_contacts {
  display: none;
}

.header-menu__item_about {
  display: none;
}

.footer-menu_block::after {
  background-color: transparent;
}

.footer-contacnt_wrap {
  margin: 15px;
  max-width: 600px;
}

.footer_btn {
  margin: 5px 0 0;
}

.prev-left {
  left: 0;
  transform: scale(0.8);
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 50% 56%;
  background-position: center center;
}


.prev-right {
  right: 0;
  transform: scale(0.8);
  background-size: 50% 56%;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.5);
}

.categor__item {
  max-width: 50%;
}

.categor__item p {
  width: 190px;
}

.categor__item img {
    max-width: 160px;
}

.categor-partner__item {
  background-size: 90%;
}

.categor-abvant-item img {
  max-width: 65px;
}

.categor-abvant-item__text {
  padding: 0 0px 0 10px;
}

.categor-abvant-item {
  width: 18%;
}

.categor-abvant-item__text::after {
  right: -5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.categor-advant-list {
  justify-content: space-between;
}

.btn__product-item {
    padding: 7px 20px;
  }

.product-item__transpoptation {
  justify-content: center;
  }

.categor__button__show {
  margin: 0px auto 5px;
}

.categor-button__wrap {
  flex-wrap: wrap;
}

.product-list_advant {
  flex-wrap: wrap;
  justify-content: center;
}

.product-item_advant {
    width: 25%;
  }

  .product-item__transpoptation__block {
    width: 100%;
  }

  .product-item__block  {
    width: 60%;
  }

  .product-item__image {
    width: 40%;
  }

}
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 768px) {
  .header_menu-block {
    display: none;
  }

  .header_menu-block.active {
    display: block;
  }

  .header-contacts_block__mobile a {
    color: #333333;
  }

  .prev-left {
    left: 0;
  }

  .prev-right {
    right: 0;
  }

  .advant-list {
    flex-wrap: wrap;
  }
  .abvant-item {
    width: 50%;
    margin: 10px 0;
  }
  .header-contacts_block {
    width: 50%;
    justify-content: flex-end;
  }
  .btn-more {
    font-size: 12px;
    line-height: 14px;
    border: none;
    text-decoration: underline!important;
    color: #B3B3B3;
    display: block;
  }
  .btn-more:hover {
    color: #333333;
  }
  .seo_text_more {
    display: none;
  }
  .catalog-card__item {
    margin: 5px 0;
  }

  .catalog-index__title {
    font-size: 27px;
    line-height: 29px;
  }

  .seo-img_block img {
    width: 100%;
  }

  .seo-img_block {
    flex-wrap: wrap;
  }

  .banner-list {
    padding-left: 0;
  }
  .banner-item__block {    
    padding: 66px 0 30px 30px;
  }
  .footer-menu_block {
    flex-wrap: wrap;
  }

  .header-contacts_email {
    display: none;
  }

  .header-contacts_zakzv {
    display: none;
  }

  .prev-right {
    opacity: 0;
  }

  .prev-left {
    opacity: 0;
  }

  .header__menu-toggle {
    display: block;
  }

  .header__menu-toggle span, .header__menu-toggle span::before, .header__menu-toggle span::after {
    display: block;
  }

  .header_menu {
    padding-left: 30px;
  }

  .header-menu__list {
    flex-direction: column;
  }

  .header-menu__item {
    margin: 10px 0;
    position: relative;
    width: 100%;
  }

  .header-menu__item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
  }

  .mobile-none {
    display: none;
  }

  .desctop-none {
    display: block;
  }

  .header-menu__list{
    max-width: 100%;
  }

  .categor-abvant-item {
    width: 35%;
    margin: 15px 10px;
  }

  .categor-advant-list {
    justify-content: center;
  }

  .categor-partner__item {
    width: 33%;
  }

  .categor-form__wrap::after {
    display: none;
  }

  .categor-form__wrap::before {
    display: none;
  }

  .categor-form__wrap {
    margin: 0 10px;
    padding: 50px 30px;
  }

  .categor-form__input:first-child {
    margin-left: 0;
  }

  .categor-form__input:last-child {
    margin-right: 0;
  }

  .categor-form__input {
    max-width: 211px;
  }

  .categor-banner_img1 {
    display: none;
  }

  .categor-banner_img2 {
    display: block;
  }

  .categor-banner {
    justify-content: center;
  }

  .categor__item {
    max-width: 49%;
  }

  .categor__list {
    justify-content: center;
  }

  .categor-partner__hidden-mobile {
    display: none;
  }

  .leftmenu-mobile__top {
    display: block;
    border-radius: 10px;
    background-color: #fff;    
    padding: 15px;
    margin: 0;
    box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
    position: relative;
    font-weight: bold;
  }

  .leftmenu-mobile__top:hover {
    color: #FBB91B;
  }

  .leftmenu-mobile__top::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    background-image: url(../img/index/burger.png);
    width: 22px;
    height: 18px;
    background-repeat: no-repeat;
  }

  .leftmenu__list {
    margin: -15px 0 30px;
    border-radius: 0 0 10px 10px;
    display: none;
  }

  .leftmenu-mobile__top.active {
    color: #FBB91B;
  }

  .leftmenu__item::after {
    transform: scale(0.7);
  }

  .leftmenu__list_level2 {
    position: relative;
    left: 0;
    min-width: auto;
  }

  .leftmenu__list_level2 li {
    width: 100%;
  }

  .leftmenu__list_level2 li {
    padding: 10px 12px;
    line-height: 20px;
  }

  .leftmenu__list_level2.no-active {
    display: none!important;
  }

  .active.leftmenu-mobile__top::after {
    background-image: url(../img/index/arr-app-orange.png);
    right: 11px;
  }

  .product-item__payment {
    padding: 40px 0;
  }

  .product-item__payment__img img{
    width: 90%;
  }

  .about__item__link {
    width: 30%;
  }

  .about__img {
    height: 160px;
  }

}

@media screen and (max-width: 576px) {
  .catalog-section__list {
    justify-content: center;
  }
  .catalog-card {
    width: 80%;
}  
  .footer-contacnt_wrap {
    flex-wrap: wrap;
  }

  .footer-menu-arrow {
    padding-left: 0px;
    margin-top: 5px;
    display: inline;
  }

  .footer-menu_list{
    display: none;
  }

  .footer-item-first a{
    display: inline-block!important;
  }

  .footer-item-first {
    display: flex;
    justify-content: space-between;
    min-width: 280px;
    margin: 15px 0;
  }

  .fancybox-slide--html .fancybox-close-small {
  color: #333333;
  padding: 10px;
  right: 0px;
  top: 0px;
}
  .header_top_text p {
    font-size: 18px;
    line-height: 20px;
  }

  .header_top_text span {
    font-size: 12px;
    line-height: 13px;
  }

  .header_top {
    padding: 20px 30px;
  }

  .header_top_text {
    text-align: left;
    margin: 0;
  }

  .header-contacts_tel {
    font-size: 18px;
    line-height: 20px;
  }

  .header-contacts_logo img {
    width: 80%;
  }

  .header-contacts_logo {
    padding-left: 35px;
  }

  .header-contacts_logo::before {
    width: 26px;
    height: 26px;
    background-size: contain;
    top: 0;
  }
  .search-header__form {
    width: 170px;
    min-width: auto;
  }
  .search-header__input {
    width: 150px;
    min-width: auto;
  }
  .banner-item_slide1 {
    background-image: url(../img/index/slider1-mobile.png)!important;
  }
  .banner-ttl {
    font-size: 32px;
    line-height: 34px;
  }
  .banner-item__block {
    padding: 25px 0px 27px 25px;
    max-width: 290px;
  }
  .banner-text {
   font-size: 14px;
   line-height: 17px;
  }

  .banner-tel {
    font-size: 30px;
    line-height: 37px;
    margin-top: 210px;
  }

  .banner-list {
    font-size: 18px;
    line-height: 26px;
  }

  .banner-item_slide2 {
    background-position-x: 55%;
  } 
  .footer-tel {
    margin: 15px 0;
  }
  .footer-icon_block {
    margin: 20px 0;
  }
  .footer-menu_about li {
    margin: 10px 0;
  }
  .footer-menu_list {
    min-width: 100%!important;
  }

  .footer-menu_list .active {
    display: block;
  }

  .catalog-menu-arrow {
    display: inline;
    margin-top: 15px;
  }

  .catalog-card__title-wrap {
    display: flex;
    justify-content: space-between;
  }

  .catalog-card {
    padding: 15px 10px 15px 15px;
  }

  .catalog-card-bg {
    display: none;
  }

  .catalog-card-mobile {
    opacity: 1;
  }

  .catalog-card {
    height: auto;
    min-height: 90px;
  }

  .catalog-card__list {
    display: none;
  }

  .footer-menu_block::before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #333333;
  }

  .slick-dots {
    text-align: left!important;
  }

  .breadcrumbs-item a {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
  }

  .breadcrumbs-list {
    flex-wrap: wrap;
  }

  .categor_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .categor__block {
    margin: 10px 0 0 15px;
  }

  .categor-banner {
    flex-wrap: wrap;
  }

  .categor__item {
    max-width: 100%;
  }

  .categor__list {
    justify-content: center;
 }

 .catalog-card__list{
    width: 100%;
 }

 .categor-add__servises__link {
    width: 50%;
  }

  .categor-add__servises__name {
    font-size: 12px;
    line-height: 15px;
  }

  .categor-title {
    font-size: 22px;
    line-height: 30px;
  }

.categor-abvant-item__text::after {
  background: transparent;
}

.categor-abvant-item {
    width: 100%
   }

   .categor-abvant-item__text::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: #E6E6E6;
    width: 100%;
    height: 1px;
   }

   .categor-partner__item {
    width: 50%;
    background-size: 80%;
   }

   .categor-form__ttl {
    font-size: 20px;
    line-height: 24px;
   }

   .categor-form__text {
    font-size: 14px;
    line-height: 17px;
   }

   .categor-form__wrap {
    padding: 50px 20px;
   }

   .categor-form__input {
    border-radius: 45px;
   }

   .categor-form__input {
    margin: 3px 0;
    width: 100%;
    max-width: 100%;
   }

   .categor-form__textarea {
    width: 100%;
   }

   .categor-banner_img2 {
    display: none;
  }

  .categor-banner_img1 {
    display: block;
  }
  .categor-banner__link {
    font-size: 18px;
    line-height: 22px;
  }

  .categor-text__title {
    font-size: 25px;
    line-height: 30px;
  }

  .categor__tabs__list {
    width: 100%;
    flex-wrap: wrap;
  }

  .categor__tabs__item {
    width: 100%;
    display: none;
    text-align: left;
  }
  .active-top {
    display: block;
  }
  .categor__tabs__item .active {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .categor__tabs__item.active {
    display: flex;
  }

  .categor__tabs__button {
    display: flex;
    justify-content: space-between;
  }

  .categor__tabs-arrow {
    display: block;
    transform: scale(0.7);
    width: auto;
  }
  .categor__tabs-arrow.active {
    width: auto;
  }

  .categor-partner {
    padding: 30px 0;
  }

  .categor-form {
    padding: 30px 0;
  }

  .categor-advant {
    padding: 40px 0 40px;
  }

  .categor-add__servises {
    padding-top: 40px;
  }

  .categor-text {
    padding: 20px 0 10px;
  }

  .categor-text__wrap {
    margin: 20px 0 30px;
  }

  .jq-file {
  width: 100%;
  }

  .navig-subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .product-item__image {
    width: 100%;
  }

  .product-item__block {
    width: 100%;
  }

  .product-item__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-item__block {
    max-width: 470px;
    margin-left: 0px;
  }

  .product-item__similar__block {
    margin: 0 50px;
  }

  .product-item__transpoptation__block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn__product-item {
    padding: 7px 10px;
  }

  .product-item__block {
    padding: 17px 0 17px 15px;
  }

  .product-item__payment {
    flex-wrap: wrap;
  }

  .product-item__description {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .product-item__specif {
    padding: 15px 10px;
  }

   .product-item__payment__name {
    font-size: 14px;
    line-height: 17px;
  }

  .product-item__payment__block {
    width: 50%;
  }

  .mobile_hide {
    display: none;
  }

  .product-item__mobile {
  display: block;
  }

  .product-item__mobile-block {
    display: none;
    background-color: #fff; 
  }

  .product-item__button {
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0;
    text-align: center;
    background: #F2F2F2;
    margin: 1px 0;
    position: relative;
  }

  .product-item__button::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 13px;
    width: 13px;
    height: 8px;
    background-image: url(../img/index/ar-down.svg);
    transform: scale(0.7);
    background-repeat: no-repeat;
  }

  .product-item__button.active {
    background-color: #fff;
    color: #FBB91B;
  }

  .active.product-item__button::after {
    background-image: url(../img/index/ar-down-hover.svg);
    transform: scale(0.7) rotate(180deg);
  }

  .about__item__link {
    width: 50%;
  }

  .about__img {
    height: 130px;
  }

  .about__item {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 425px) {
  .abvant-item {
    width: 100%;
    }
  .catalog-card {
    width: 100%;
  }
  .header_top_text {
    width: 50%;
  }
  .header_top_text::after {
    right: -135px;
  }
  .header-contacts_block {
    width: 60%;
  }
  .seo-img_wrap img {
    width: 97%;
  }

  .banner-tel {
    margin-top: 175px;
  }

  .slick-dots li.slick-active button:before {
  font-size: 10px;
  }

  .slick-dots li button:before {
    font-size: 10px!important;
  }

  .categor-partner__item {
    width: 100%;
    background-size: 65%;
   }

   .categor__item img {
    max-width: 130px;
  }

  .product-item__similar__title {
    font-size: 22px;
    line-height: 30px;
  }
  .about__img {
    height: 120px;
}


  }
@media screen and (max-width: 320px) {
 .header_top_text::after {
  right: 0;
  left: 140px;
 }

 .catalog-card__title {
    max-width: 50%;
  }

  .categor-pagination__list {
    font-size: 14px;
  }

  .product-item__similar__block {
    margin: 0 10px;
  }

  .product-item__table td {
    padding: 0 7px;
  }

  .product-item__transpoptation__text {
    padding: 0 10px;
  }

  .prev-left__product {
    right: 10px;
  }

  .prev-right__product {
    right: -10px;
  }

}

