@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #F7F7F7;
  font-family: 'Montserrat', Sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #da251c; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #da251c; }

::-moz-selection {
  color: #fff;
  background-color: #da251c; }

::selection {
  color: #fff;
  background-color: #da251c; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

button {
  border: transparent;
  background: none; }

.header {
  
}

.header_top {
  background-color: #FBB91B;
  padding: 20px 0;
}

.header_top_text::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -35px;
  width: 146px;
  height: 88px;
  background-image: url("../img/index/tryby_new.png")
}

.header_top_text {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  max-width: 600px;
  position: relative;
}

.header_top_text p {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header_top_text span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  display: block;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.header-contacts__wrap {
  background-color: #fff;
}

.header-contacts_block {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.header-contacts_block a {
  color: #333333;
}

.header-contacts_block a:hover {
  color: #FFB504;  
}

.header-contacts_zakzv:hover::after {
  background-image: url("../img/index/icon-tel-hover.svg");
}

.header-contacts_email:hover::after {
  background-image: url("../img/index/icon-letter-hover.svg");
}



.header-contacts_logo {
  position: relative;
  padding-left: 50px;
  margin-top: -5px;
}

.header-contacts_logo::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: -8px;
  left: 0;
  background-image: url("../img/index/icon-logo.svg");
}

.header-contacts_tel {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}

.header-contacts_zakzv {
  position: relative;
  padding-left: 15px;
}

.header-contacts_zakzv::after{
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 10px;
  height: 13px;
  background-image: url("../img/index/icon-tel.svg");
}

.header-contacts_email{
  position: relative;
  padding-left: 20px;
}

.header-contacts_email::after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 15px;
  height: 10px;
  background-image: url("../img/index/icon-letter.svg");
}

.header_menu {
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;
  position: relative;
}

.header_menu__wrap {
  background-color: #fff;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-menu__list {
  list-style: none;
  display: flex;
  max-width: 60%;
  padding: 0;
  margin: 0;
}

.header-menu__item {
  position: relative;
}

.header-menu__item a {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding: 20px 20px;
}

.header-menu__item a:hover {
  color: #FBB91B;
}

.header-menu__item a:first-child {
  padding-left: 0;
}

.search-header__form {
  border-radius: 74px;
  border: 1px solid #F2F2F2;
  position: relative;
  padding: 8px 0 8px 18px;
  margin: 0 10px;
  justify-content: space-between;
  background-color: #fff;
}

.search-header__form:hover {
  border: 1px solid #FBB91B;
}

.search-header__input {
  min-width: 320px;
  position: relative;
  border: none;
}

.search-header__btn {
  background: none;
  border: none;
}

.search-header__form::after {
  content: "";
  background: url("../img/index/lupa.png") no-repeat;
  position: absolute;
  top: 12px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.search-header__form:hover::after {

    background: url("../img/index/lupa.png") no-repeat;
}

.search-header__form::before {
  content:"";
  position: absolute;
  top: 0;
  right: 50px;
  width: 1px;
  height: 45px;
  background-color: #F2F2F2;
  z-index: 1;
}

.search-header__form:hover::before {
  background-color: #FBB91B;
}


.header-card {
  padding-left: 30px;
  position: relative;

}

.header-card__img{
  width: 30px;
  height: 30px;
  background-image: url("../img/index/card_empty.png");
  background-repeat: no-repeat; 
  position: absolute;
  top: 0;
  left: 0;
}

.header-card:hover .header-card__img {
  background-image: url("../img/index/card-hover.png");  
}

.header-card:hover .header-card__text {
  color: #FFB504;
}

.header-card__text {
  font-size: 12px;
  max-width: 44px;
  line-height: 14px;
  height: 30px;
  display: block;
}
.catalog-index{
  padding: 30px 0;
}

.advant-list {
  background: #FFFFFF;
  padding: 25px 15px;
  margin: 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.advant-list:hover {
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.abvant-item {
  display: flex;
}

.abvant-item__ttl {
  display: block;
  font-weight: 600;
}

.abvant-item__text {
  font-size: 12px;
  line-height: 14px;
  padding: 7px 7px 7px 12px;
}

.abvant-item img{
  margin-top: -10px;
}

.catalog-index__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
}

.catalog-section__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-card {
  background-repeat: no-repeat;
  width: 32.33333%;
  height: 400px;
  padding: 30px 0 15px 25px;
  margin: 5px;
  background-size: cover;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.catalog-card-bg {
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
}
.catalog-card:hover {
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.catalog-card:hover > .catalog-card-bg {
  opacity: 0.5;
}

.catalog-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.catalog-card__link {
  color: #333333;
  font-size: 13px;
  padding: 8px 0;
  line-height: 16px;
  display: block;
}

.catalog-card__title {
  max-width: 70%;
}

.catalog-card__title a{
  color: #333333;
}

.catalog-card__title a:hover  {
  color: #FFB504;
  position: relative;
}
.catalog-card a:hover .catalog-card-bg {
  opacity: 0.5;
}

.catalog-card__title a:hover::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFB504;
}

.catalog-card__item {
  margin: 0px 0;
}

.catalog-card__item a:hover {
  color: #FFB504;
}

.banner-item {
  width: 100%;
  height: 450px;
  z-index: -1;
  background-position: 38% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-item__wrap {
  position: relative;  
}

.banner-item__block {
  position: absolute;
  color: #fff;
  max-width: 610px;
  padding: 66px 0 30px 80px;
}

.banner-ttl {
  font-size: 55px;
  line-height: 52px;
  font-weight: bold;
}
 
.banner-item_slide1 {
  background-image:url("../img/index/slider1.png");
}

.banner-item_slide2 {
  background-image:url("../img/index/slider2.png");
}

.banner-item_slide3 {
  background-image:url("../img/index/slide3.png");
}

.banner-text {
  font-size: 24px;
  line-height: 29px;
}

.banner-tel {
  font-size: 45px;
  line-height: 52px;
  color: #fff;
  display: block;
  margin-bottom: 50px;
}

.banner-tel:hover {
  color: #FDB913!important;
}

.banner-link {
  color: #fff;
  border-radius: 52px;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 25px;
}

.banner-list {
  list-style: none;
  font-size: 35px;
  line-height: 43px;
  color: #333333;
  padding: 0;
  position: relative;
  padding-left: 20px;
}

.banner-list li::before {
  content: "-";
  top: 0;
  left: 0;
}

.banner-link:hover {
  color: #FDB913;
  border: 1px solid #FDB913;
}

.banner-link_black {
  color: #333333; 
  border: 1px solid #333333;
}

.prev-left {
  position: absolute;
  z-index: 4;
  width: 17px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/index/ar-right.png");
  background-repeat: no-repeat;
  background-size: 70%;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  outline: none;
}

.prev-right {
  position: absolute;
  z-index: 4;
  width: 17px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/index/ar-left.png");
  background-repeat: no-repeat;
  background-size: 70%;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  outline: none;
}

.slick-dots {
  bottom: 25px!important;
}

/*.slick-dots li button:before {
  color: transparent!important;
  border: 1px solid #333333!important;
  border-radius: 50%!important;
  width: 11px!important;
  height: 9px!important;
}*/

.slick-dots li.slick-active button:before {
  color: #ffb504!important;
  font-size: 12px;
}

.slick-dots li button:before {
  color: #fff!important;
  font-size: 12px!important;
  opacity: 1!important;
}

.seo_text {
  background-color: #F2F2F2;
  padding: 60px 0;
  font-size: 14px;
  line-height: 20px;
}

.seo_title {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.seo-img_wrap img {
  width: 95%;
  max-height: 275px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
}

.seo-img_block img{
  width: 49%;
  max-height: 275px;
  margin: 5px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.footer {
  background-color: #1a1a1a;
  color: #737373;
  padding: 40px 0 30px;
}

.footer-menu_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  padding-right: 10px;
}

.footer-menu_list li {
  margin: 10px 0;
}

.footer-menu_block {
  position: relative;
}

.footer-menu_block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 1px;
  height: 100%;
  background-color: #333333;
}

.footer-menu_about {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-icon_inst {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-icon_inst:hover {
  background-image:url("../img/index/inst-hover.png")!important;
  background-size: contain;
}

.footer-icon_vk:hover {
  background-image:url("../img/index/vk-hover.png")!important;
  background-size: contain;
}

.footer-icon_vk {
  width: 37px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-contacts {
  flex-direction: column;
}

.footer-tel {
  font-size: 22px;
  line-height: 24px;
  color: #737373;
}

.footer-tel:hover {
  color: #FFB504;
}

.footer-contacnt_wrap {
  justify-content: space-between;
}

.footer_btn {
  margin: 15px 0;
  color: #737373;
  font-size: 13px;
  line-height: 14px;
  padding: 12px 12px 12px 50px;
  background-color: #262626;
  border-radius: 84px;
  position: relative;
}

.footer_btn::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 10px;
  height: 13px;
  background-image: url("../img/index/tel.png");
}

.footer_btn::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 40px;
  width: 1px;
  height: 15px;
  background-color: #737373;
}



.footer-icon_block {
  margin: 10px 0 15px;
}

.footer_btn:hover::before {
  background-image: url("../img/index/tel-hover.png");
}

.footer_btn:hover {
  color: #FFB504;
}

.footer_btn:hover::after {
  background-color: #FFB504;
}

.container {
    max-width: 1300px!important;
}

.footer-menu_list a{
  color: #737373;
}

.footer-item-first a {
  color: #737373;
}

.footer-menu_list a:hover{
  color: #FFB504;
}

.footer-item-first a {
  font-size: 16px;
  font-weight: bold;
}

.footer-item-first a:hover {
  text-decoration: underline;
}

.footer-menu_about a{
  font-size: 16px;
  color: #737373;
}

.header__menu-toggle { 
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30%;
  left: 0;
}

.header__menu-toggle__open {
    background-image: url(../img/index/burger.png);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.mm-wrapper_opened .header__menu-toggle__open {
    background-image: url(../img/index/burger-close.png);
}

/*.header__menu-toggle span {
  display: none;
  height: 2px;
  width: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333333;
}

 .header__menu-toggle span::before, .header__menu-toggle span::after {
  display: none;
  height: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333333;
  }

.header__menu-toggle span::before {
  transition: all 0.2s;
  content: "";
  margin-top: -6px;
}
.header__menu-toggle span::after {
  transition: all 0.2s;
  content: "";
  margin-top: 6px;
}
.header__menu-toggle--active span {
  background-color: transparent;
}
.header__menu-toggle--active span::before  {
  transform: rotate(135deg);
  margin-top: 0;
}
.header__menu-toggle--active span::after {
  transform: rotate(-135deg);
  margin-top: 0;
}*/

.footer-menu_about a:hover {
  color: #FFB504;
}

.abvant-item img{
  width: 60px;
}

.btn-more {
  display: none;
}

.footer-menu-arrow {
  display: none;
}

.popup-index__text-sub {
  max-width: 267px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #808080;
  margin-top: 30px;
}

.popup-index__ttl {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 13px;
}

.popup-index__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 274px;
}

.popup-index__input {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 45px;
  display: block;
  margin-top: 11px;
  padding: 8px 0px 8px 16px;
  width: 100%;
}

.popup-index__input:hover {
  border: 1px solid #FBB91B;
  background-color: #FAFAFA;
}

.popup-index__btn {
  background-color: #FBB91B;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  padding: 10px 60px;
  display: block;
  margin: 0 auto;
  border-radius: 45px;
}

.popup-index__btn:hover {
  background-color: #F4AC00;
}

.fancybox-slide>* {
  overflow: visible!important;
}

.fancybox-slide--html .fancybox-close-small {
    color: #fff;
    padding: 5px;
    right: -30px;
    top: -40px;
}

.catalog-menu-arrow {
  display: none;
}

.catalog-card-mobile {
  opacity: 0;
  background-repeat: no-repeat;
  width: 110px;
  height: 70px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 25px;
  z-index: -1;
}

.catalog-menu-arrow.active {
  transform: rotate(180deg);
}

.footer-menu-arrow.active {
  transform: rotate(180deg);  
}

.header-menuInner__list {
  display: none;
  list-style: none;
  position: absolute;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
  padding: 10px 0;
  margin: 0;
  top: 30px;
  left: -10px;
  border: 1px solid #f2f2f2;
  max-width: 350px;
  width: auto;
}

.header-menuInner__list_level2 {
  display: none;
  list-style: none;
  position: absolute;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
  padding: 10px 25px;
  margin: 0;
  top: 3px;
  left: 100%;
}

.header-menuInner__list li {
  white-space: nowrap;
  width: 100%;
}

.header-menuInner__list_level2 li {
  white-space: normal;
  width: 100%;
  min-width: 270px;
}

.header-menuInner__list li:hover .header-menuInner__list_level2{
  display: block;
}

.header-menuInner__list li {
  margin: 15px 0;
}

.header-menuInner__item {
  padding: 0 0 0 25px;
}

.header-menuInner__item:hover .header-menuInner__link{
  color: #FBB91B;
}

.header-menu__item:hover .header-menuInner__list {
  display: block;
}

.header-menu__item:hover::before{
    content: "";
    position: absolute;
    top: 27px;
    left: -10px;
    width: 100%;
    height: 3px;
    background-color: #FFB504;
}

/*.header-menuInner__list::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 3px;
    background-color: #FFB504;
}*/

.header-block__mobile {
  display: none;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 170px;
  justify-content: space-around;
  min-height: 300px;
}

.header-block__mobile a {
  color: #333333;
}

.header-block__mobile a:hover {
  color: #FBB91B;
}

.header-block__mobile.active {
  display: flex;
}

.header__menu-wrapper.active {
  background-color: #fff;
  position: absolute;
  top: 355px;
  left: -16px;
  z-index: 10;
  width: 105vw;
  height: 1000vh;
  padding: 20px;
  }

.desctop-none {
  display: none;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  padding: 15px 0 20px 0;
  margin: 0;
}

.breadcrumbs-item {
  margin: 0px 10px 0px;
  position: relative;
  padding: 3px 0 3px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  display: block;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs-item:first-child::after {
  background-image: none;
}

.breadcrumbs-item a {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  display: block;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;
  width: 13px;
  height: 8px;
  background-image: url("../img/index/ar-down.svg");
  transform: rotate(-90deg) scale(0.7);
  background-repeat: no-repeat;
}

.categor-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 10px 0 10px;
  padding: 0;
}

.categor__image {
  max-width: 350px;
  max-height: 290px;
}

.categor__image img {
  width: 100%;
}

.categor__block {
  max-width: 740px;
  margin: 0 0 0 15px;
}

.categor__block p{
  font-size: 14px;
  line-height: 20px;
}

.categor__item img {
  max-width: 130px;
  width: 100%;
  max-height: 120px;
  border-radius: 10px 0 0 10px;

}

.categor__item {
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  margin: 5px 3px;
  max-height: 120px;
  max-width: 32%;
}

.categor__item:hover {
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

/*.main {
  background-color: #e5e5e5;
}*/

.categor__item p {
  padding: 30px 10px;
  width: 178px;
  font-size: 13px;
  line-height: 20px;
}

.categor-banner {
  background-color: #333333;
  border-radius: 10px;
  padding: 10px 40px;
  display: flex;
  margin-bottom: 35px;
}

.categor-banner:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.categor-banner img{
  width: 100%;
  max-width: 500px;
  max-height: 117px;
  margin: 20px 0;

}

.categor-banner p{
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 340px;
  margin: 20px 0;
}

.categor-text {
  padding: 30px 0;
  background-color: #f2f2f2;
  margin: 80px 0 0px;
}

.categor-text__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.categor-text p,
.categor-text ul {
  font-size: 14px;
  line-height: 20px;
}

.categor-text__wrap {
  margin: 30px 0 50px;
}

.categor__tabs__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.categor-text__list {
  list-style: none;
  padding: 0
}

.categor-text__list li {
  position: relative;
  padding-left: 10px;
}

.categor-text__list li::before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;  
}

.categor-add__servises {
  background-color: #fff;
  padding-top: 80px;
}

.categor-add__servises__wrapper {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.categor-add__servises__block {
  color: #333333;
  text-align: center;
  padding: 0 20px;
  border: 1px solid #fff;
  margin: 5px 0px;
}

.categor-add__servises__block img {
  width: 100%;
}

.categor-add__servises__name {
  max-width: 250px;
  min-height: 58px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.categor-add__servises__block:hover {
  border: 1px solid #E6E6E6;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.categor-advant {
  padding: 80px 0 100px;
}

.categor-advant-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categor-abvant-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  width: 19%;
}

.categor-abvant-item img {
  width: 100%;
  max-width: 85px;
  max-height: 95px;
}

.categor-abvant-item__text {
  max-width: 137px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 20px;
}

.categor-abvant-item::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 70px;

}

.categor-partner {
  background-color: #fff;
  padding: 80px 0;
}

.categor-partner__item {
  width: 20%;
  height: 140px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #F2F2F2;
}

.categor-partner__list {
  display: flex;
  flex-wrap: wrap;
}

.categor-form {
  padding: 80px 0;
}

.categor-form__wrap {
  display: block;
  margin: 0 auto;
  max-width: 1050px;
  background-color: #fff;
  box-shadow: 0px 43px 88px rgba(75, 69, 51, 0.1);
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 50px 100px;
}


.categor-form__wrap::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -140px;
  width: 237px;
  height: 250px;
  background-image: url("../img/index/krivue.png");
  background-size: cover;
}

.categor-form__wrap::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -140px;
  width: 237px;
  height: 250px;
  background-image: url("../img/index/pk.png");
  background-size: cover;
}

.categor-form__ttl {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.categor-form__text {
  font-size: 16px;
  line-height: 20px;
  max-width: 520px;
  display: block;
  margin: 10px auto 15px;
}

.categor-form__input {
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 3px;
}

.categor-form__input:hover,
 .categor-form__textarea:hover {
  border: 1px solid #FBB91B;
}

.categor-form__textarea {
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  width: 95%;
  padding: 8px 16px;
  min-height: 150px;
}

.categor-form__subtext {
  font-size: 10px;
  line-height: 12px;
  color: #808080;
  margin: 20px 0 10px;
}

.leftmenu__list {
  border-radius: 10px;
  background-color: #fff;
  list-style: none;
  padding: 20px;
  margin: 65px 0 30px;
}

.leftmenu__item {
  margin: 20px 0;
  position: relative;
  }

.leftmenu__item a {
  color: #333333;
  position: relative;
}

.leftmenu__item__level2_link:hover{
  color: #FBB91B;
}

.leftmenu__item:hover .leftmenu__item__link::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #FFB504;
}

.leftmenu__item::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 13px;
    height: 8px;
    background-image: url("../img/index/ar-down.svg");
    transform: rotate(-90deg) scale(0.7);
    background-repeat: no-repeat;
}

.leftmenu__item::after.yellow-active {
    background-image: url("../img/index/ar-down-hover.svg");
    transform: scale(0.7) rotate(180deg);
}

/*.leftmenu__item:hover::after {
   background-image: url(../img/index/ar-down-hover.svg);
}*/

.leftmenu-ttl {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #999999;
  margin-top: 20px;
}

.leftmenu__list-parametr {
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 0 50px;
}

.leftmenu__filter__button {
  display: inline-block;
}

.leftmenu__filter__ttl {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

.leftmenu__filter__ttl p {
  margin: 0;
  padding: 0;
}

/*.leftmenu__list-parametr li {
  position: relative;
  padding: 20px 20px;
}

.leftmenu__list-parametr li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 13px;
  height: 8px;
  background-image: url(../img/index/ar-down.svg);
  transform: scale(0.7);
  background-repeat: no-repeat;
}*/

.leftmenu__filter__ttl::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 1px;
}

.categor__tabs__item {
  background-color: #f2f2f2;
  border-radius: 10px 10px 0px 0px;
}

.categor__tabs__item .active {
  background-color: #fff;
  height: 100%;
}

.categor__tabs__item button {
  padding: 16px;
  border-radius: 10px 10px 0px 0px;
  line-height: 16px;
  font-size: 14px;
}

.categor__tabs__tab {
  background-color: #fff;
  padding: 10px;
}

.categor__table {
  border: 1px solid #F2F2F2;
}

.categor__table th {
  padding: 15px 5px;
  max-width: 280px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #F2F2F2;

}

.categor__table td {
  padding: 5px 8px;
  max-width: 280px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #F2F2F2;
  text-align: center;
  position: relative;
  height: 40px;
}

.categor__table td a {
  color: #333333;
}

.categor__table td:first-child {
  text-align: left;
}

.categor-table__link:hover {
  color: #FBB91B;
}

.table-card__img {
  width: 30px;
  height: 30px;
  background-image: url("../img/index/card_empty.png");
  background-repeat: no-repeat; 
  position: absolute;
  top: 5px;
  left: 3px;
}

.table-card__img:hover {
  background-image: url("../img/index/card-hover.png"); 
}

.categor__table tr:nth-child(even) {
  background-color: #fcfcfc;
}

.categor__table tr:nth-child(odd) {
  background-color: #fafafa;
}

.categor__table tr:first-child {
  background-color: #fff;
}

.categor-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.categor-pagination {
  justify-content: center;
  margin: 30px 0;
}

.categor-pagination__list a {
  color: #333333;
  padding: 7px 10px;
  background-color:  #fff;
  border-radius: 50%;
}

.categor-pagination__list li {
  padding: 3px;
}

.categor-pagination__list li:hover a {
  color: #fff;
  background-color:  #FBB91B;
  border-radius: 50%;
}

.categor-pagination__list li .active {
  color: #fff;
  background-color: #FBB91B;
  border-radius: 50%;
}

.categor-pagination__back {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding-left: 15px;
}

.categor-pagination__back:hover {
  color: #FBB91B;
}

.categor-pagination__back::before {
  position: absolute;
  top: 40%;
  left: 0;
  content: "";
  width: 13px;
  height: 8px;
  background-image: url("../img/index/ar-down.svg");
  transform: scale(0.6) rotate(90deg);
  background-repeat: no-repeat;
}

.categor-pagination__back:hover::before {
  background-image: url("../img/index/ar-down-hover.svg");
}

.categor-pagination__next {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  padding-right: 15px;
}

.categor-pagination__next:hover {
  color: #FBB91B;
}

.categor-pagination__next:hover::after {
  background-image: url("../img/index/ar-down-hover.svg");
}

.categor-pagination__next::after {
  position: absolute;
  top: 40%;
  right: 0;
  content: "";
  width: 13px;
  height: 8px;
  background-image: url("../img/index/ar-down.svg");
  transform: scale(0.6) rotate(-90deg);
  background-repeat: no-repeat;
}

.categor-add__servises__link {
  width: 25%;
}

.categor__filter__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categor__filter__list.active {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  max-height: 350px;
  overflow-y: scroll;
  max-width: 300px;
}

.leftmenu__filter__ttl.active p {
  color: #FBB91B;
}

.leftmenu__filter__ttl:hover p {
  color: #FBB91B;
}

.leftmenu__filter__ttl.active {
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.leftmenu-arrow {
  margin-top: 8px;
  transform: scale(0.7);
}

  .leftmenu-arrow {
    position: relative;
  }

  .leftmenu-arrow::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 4px;
    width: 13px;
    height: 8px;
    background-image: url("../img/index/ar-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .active.leftmenu-arrow::after {
    background-image: url("../img/index/ar-down-hover.svg");
    transform: rotate(180deg);
    
  }

  .leftmenu-arrow.active {
    transform: scale(0.7);
  }

.cat__filter__item {
  width: 50%;
  position: relative;
}

.cat__input__checkbox {
  position: relative;
  visibility: hidden;
}

.cat__input__checkbox + label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 14px;
    height: 14px;
    border: 1px solid #7F7F7F;
    background-color: #ffffff;
    border-radius: 3px;
}

.cat__filter__item {
  padding-left: 10px;
}

.cat__input__checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 14px;
    height: 14px;
    border: 1px solid #FBB91B;
    background-color: #FBB91B;
    border-radius: 3px;
}

.categor__button__reset {
    background-color: #FBB91B;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    border-radius: 45px;
}

.categor-button__wrap {
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
}

.categor__button__show {
  background-color: #FAFAFA;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #333333;
  padding: 10px 30px;
  display: block;
  margin: 0 auto;
  border-radius: 45px;
}

.categor__filter__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
  margin: 50px 0 5px;
}

.js-choose-filter-select{
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
}
.jq-selectbox__select-text {
  padding: 10px 20px 20px;
}

.js-choose-filter-select:hover .jq-selectbox__select-text {
  color: #FBB91B;
}

.jq-selectbox__select-text::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 1px;
  }

.jq-selectbox__dropdown li {
  font-size: 16px;
  line-height: 30px;
  color: #000;
}

.jq-selectbox li:hover {
    color: #FBB91B!important;
    background-color: transparent!important;
}

.jq-selectbox__trigger {
  border: none!important;
}

.jq-selectbox__select {
    height: 32px;
    padding:10px 0!important;
    border: none!important;
    border-bottom-color: transparent!important;
    border-radius: 4px;
    background: transparent!important;
    box-shadow: none!important;
    font: inherit!important;
    color: #333;
    text-shadow: none!important;
    max-width: 100%;
    width: 100%;
}

.jq-selectbox__dropdown {
  font: inherit!important;
  border: none!important;
  box-shadow: none!important;
  width: 100% !important;
  margin-top: 25px;
}

.leftmenu__list_level2 {
  display: none;
  position: absolute;
  list-style: none;
  top: 0;
  left: 100%;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
}

.leftmenu__item:hover .leftmenu__list_level2 {
  display: flex;
  flex-wrap: wrap;
}

.leftmenu__list_level2 li{
  padding: 20px 12px;
  width: 23%;
}

.categor-partner__item p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  position: relative;
  text-align: center;
}

.popup-category__ttl {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
   }

   .popup-category__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
   }

   .popup-form__input {
    border-radius: 45px;
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 8px 16px;
    margin: 3px;
    width: 100%;
   }

   .popup-form__textarea {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 8px 16px;
    min-height: 70px;
   }


   .popup-form__input:hover,
 .popup-form__textarea:hover {
  border: 1px solid #FBB91B;
}

.popup-form__subtext {
  font-size: 10px;
  line-height: 12px;
  color: #808080;
  margin: 20px 0 10px;
}

.categor-banner__link {
  color: #fff;
  font-weight: 600;
}

.categor-banner__link:hover {
  text-decoration: underline;
  color: #fff;
}

.categor-banner_img2 {
  display: none;
}

.categor__tabs-arrow {
  display: none;
}

.categor__tabs__tab {
  display: none;
}

.categor__tabs__tab.active {
  display: block;
}

.navig-subtitle {
  font-size: 27px;
  line-height: 33px;
  font-weight: 500;
  margin: 45px 0 25px;
}

.jq-selectbox__trigger-arrow {
  border-top: none;
  background-image: url("../img/index/ar-down.svg");
  top: 24px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  transform: scale(0.7);
}

.js-choose-filter-select:hover .jq-selectbox__trigger-arrow {
  background-image: url("../img/index/ar-down-hover.svg");
}

.cat__filter__select.opened .jq-selectbox__trigger-arrow {
  background-image: url("../img/index/ar-down-hover.svg");
  transform: scale(0.7) rotate(-180deg);
  top: 15px;
}

.jq-file__name {
  display: inline;
  border: none;
  box-shadow: none;
  width: 1%;
}

.jq-file {
  box-shadow: none;
  border: 1px solid #E6E6E6;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  width: 95%;
}

.jq-file__browse {
  position: relative;
  border-left: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font: inherit;
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
  padding: 12px 0 12px 16px;
}

.jq-file::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 52%;
  background-image: url("../img/index/skrebka.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 16px;
  background-size: contain;
}

.jq-file:active .jq-file__browse {
  background: transparent;
  box-shadow: none;
}

.active-top .categor__tabs-arrow {
    display: none;
}

.leftmenu-mobile__top {
    display: none;
}

.leftmenu__list_level3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.leftmenu__list_level3 li {
    padding: 5px 12px!important;
}

.jq-selectbox {
    z-index: 0;
}

.product-item__block {
  background-color: #fff;
  width: 50%;
  padding: 17px 23px;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  position: relative;

}

.product-item__image {
  width: 50%;
  max-width: 470px;
  max-height: 290px;
}

.product-item__image img {
  width: 100%;
  height: 100%;
}

.product-item__price p {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #7F7F7F;
  padding: 0;
  margin: 0;
}

.product-item__price span {
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  font-weight: 600;
}

.product-item__quantity p{
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #7F7F7F;
  padding: 0;
  margin: 8px 0 0;
}

.product-item__quantity__wrap {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  max-width: 120px;
}

.product-item__quantity__number {
  max-width: 54px;
  border: none;
  text-align: center; 
}

.product-item__in-stock span {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #7F7F7F;
  padding: 0;
  margin: 0;
}

.product-item__quantity__minus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #E6E6E6;
}

.product-item__quantity__plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #E6E6E6;
}

.product-item__quantity__minus,
.product-item__quantity__plus
   {
    font-size: 20px;
    position: relative;
    padding: 0 8px;
  }

.product-item__quantity__minus:hover,
.product-item__quantity__plus:hover {
  background-color: #e6e6e6;
}

.product-item__quantity__minus {
  border-radius: 8px 0px 0px 8px;
}

.product-item__quantity__plus {
  border-radius: 0px 8px 8px 0px;
}

.product-item__in-stock img {
  transform: scale(0.7);
  margin-left: 2px;
}

.product-item__in-stock {
  margin: 10px 0;
}

.btn__product-item {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 49px;
  padding: 7px 30px;
  color: #333333;
  font-size: 12px;
  line-height: 14px;
  margin: 0 5px;
}

.btn__product-item:hover {
  background-color: #FBB91B;
  color: #333333;
}

.product-item__link__cheaper {
  position: absolute;
  top: 13px;
  right: 23px;
}

.product-item__btn {
  position: relative;
}

.product-item-card__img {
  width: 23px;
  height: 23px;
  background-image: url("../img/index/card_empty.png");
  background-repeat: no-repeat; 
  background-size: cover;
  position: absolute;
  top: 2px;
  left: 25px;
}

.product-item__separator {
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  margin: 16px 0 25px;
}

.product-item__transpoptation__block {
  position: relative;
  margin: 23px 0 0;
}

.product-item__transpoptation__block:last-child::after {
  background-color: transparent; 
}

.product-item__transpoptation__block::after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;

}


.product-item__transpoptation__block img {
  width: 100%;
  max-width: 175px;
  max-height: 142px;
}

.product-item__transpoptation {
  padding: 10px 10px 30px;
  justify-content: space-between;
}

.product-item__transpoptation__text {
  padding: 0 0 0 18px;
  margin-bottom: 30px;
}

.product-item__table {
  min-width: 250px;
  width: 100%;
}

.product-item__table tr {
  background-image: url("../img/index/spec_dots.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}
 
.product-item__table td {
  padding: 0 0px;
  text-align: right;
}

.product-item__table span {
  padding: 2px;
  background: white;
  position: relative;
  top: 4px;
}

.product-item__table td:first-child {
  text-align: left;
}

.product-item__tabs {
  margin-bottom: 32px;
}

.categor-abvant-item:last-child::after {
  background-color: transparent;
}


.categor-partner__item__product {
  background-size: 80%;
}

.product-item_advant {
  width: 18%;
}

.product-item_advant img {
  max-width: 60px;
}

.product-item_advant::after {
  right: -14px;
}

.product-item__similar__block {
  margin: 0 3px;
  text-align: center;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;

}

.product-item__similar__img img{
  width: 100%;
  max-height: 142px;
}

.product-item__similar {
  background-color: #fff;
  padding: 26px;
  margin-bottom: 20px;
}

.product-item__similar__ttl {
  min-height: 50px;
  margin: 15px 0;
}

.product-item__similar__price {
  font-weight: 600;
  margin: 0;
}

.product-item__similar__btn {
  position: relative;
  padding: 8px 30px  7px 50px;
  border: 1px solid #FBB91B;
  box-sizing: border-box;
  border-radius: 49px;
  margin: 15px 0;
}

.product-item__similar__btn .product-item-card__img {
  top: 4px;
}

.product-item__similar__btn:hover {
  border: 1px solid #FBB91B;
  background-color: #FBB91B;
}

.product-item__similar__title {
  font-size: 30px;
  line-height: 37px;
}

.prev-left__product {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/index/ar-right-sl-prod.png");
  background-repeat: no-repeat;
  background-position: center;
  top: -50px;
  right: 40px;
  transform: rotate(180deg);
  outline: none;
  padding: 15px;
  border-radius: 10px;
}

.prev-right__product {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/index/ar-right-sl-prod.png");
  background-repeat: no-repeat;
  background-position: center;
  top: -50px;
  right: 10px;
  outline: none;
  border-radius: 10px;
  padding: 15px;
}

.prev-right__product:hover, 
.prev-left__product:hover {
  background-color: #F4F4F4;
}

.jq-file:hover .jq-file__browse {
  background: transparent;
}

.product-item__payment {
  justify-content: center;
  padding: 60px 0;
}

.product-item__payment__name {
  text-align: center;
}

.product-item__description{
  padding: 30px;
}

.product-item__specif {
  padding: 20px 25px;
  width: 100%;
  max-width: 500px;
}

.product-item__specif tr {
  background-image: url("../img/index/spec_dots.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}

.product-item__specif td:first-child{
  color: #808080;
  text-align: left;
}

.product-item__specif td {
  padding: 10px 0px 0 0;
  text-align: right;
}

.product-item__specif span {
  background-color: #fff;
  padding: 2px;
  position: relative;
  top: 4px;
}


.product-item__mobile {
  display: none;
}

.categor-title span.yellow {
  color: #FBB91B;
}

.about__catalog {
  background-color: #fff;
  padding: 80px 0px 30px;
}

.about__img {
  height: 200px;
}

.about__item {
  position: relative;
  max-width: 300px;
}

.about__list {
  flex-wrap: wrap;
  margin-top: 20px;
}

.about__img img {
  width: 100%;
}

.about__item p{
  text-align: center;
  color: #333333;
}

.about {
  padding: 50px 0;
}

.about__text {
  max-width: 60%;
}

.map__contacts {
  color: #fff;
  background-color: #191919;
  padding: 80px 50px;
  width: 35%;
}

.map__contacts a {
  color: #fff;
  display: block;
}

.map__img {
  width: 65%;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.map {
  margin: 50px 0;
}

.about__item__link {
  width: 25%;
}

.map__contacts__tel,
.map__contacts__adr,
.map__contacts__grafik {
  position: relative;
  padding-left: 30px;
  margin-top: 15px;
  font-size: 22px;
  line-height: 24px;
}

.map__contacts__tel::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 24px;
  background-image: url('../img/index/trubka-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.map__contacts__adr::before {
  content:"";
  position: absolute;
  top: 3px;
  left: 0;
  width: 23px;
  height: 17px;
  background-image: url('../img/index/email-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.map__contacts__grafik::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url('../img/index/vremya-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.map__contacts__mode {
  padding: 0 0 0 30px;
  margin: 0;
  line-height: 18px;
  font-size: 22px;
  line-height: 24px;
}

.main-about {
  background-color: #fff;
}

.contacts__block__item {
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.contacts__block__list {
  flex-direction: column;
  width: 35%;
  margin: 0 10px 0 0;
}

.contacts__block__item__text {
  padding: 20px 20px 80px 30px;
}

.contacts__block__item__text span {
  color: #999999;
  font-size: 14px;
  line-height: 19px;
}

.contacts__block__item:hover {
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
}

.contacts__img__wrap {
  width: 65%;
}

.contacts__block__item__text p {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  margin: 7px 0;
  padding: 0 0 0 25px;
}

.contacts__block__item__text a {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  display: block;
  margin: 7px 0;
  padding: 0 0 0 25px;
}


.contacts__block__item:first-child {
  margin-top: 0;
}

.contacts__block__arrow {
  width: 13px;
  height: 8px;
  background-image: url("../img/index/ar-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.8);
}

.contacts__block_button {
  justify-content: space-between;
  padding: 20px 10px 15px;
  position: relative;
  align-items: center;
}

.contacts__block_button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #E6E6E6;
  width: 100%;
  height: 1px;
}

.contacts__block__tel,
.contacts__block__adr,
.contacts__block__grafik,
.contacts__block__email{
  position: relative;
}

.contacts__block__tel::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 16px;
  background-image: url('../img/index/trubka-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__block__email::before {
  content:"";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 11px;
  background-image: url('../img/index/email-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__block__grafik::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url('../img/index/vremya-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__block__adr::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 19px;
  background-image: url('../img/index/contact_geo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.vacancy-banner {
  width: 100%;
  height: 415px;
  background-image: url('../img/index/ban-vacancy.png');
  background-repeat: no-repeat;
}

.vacancy-banner__text {
  font-size: 65px;
  line-height: 70px;
  padding: 150px 0 105px 105px;
  max-width: 60%;
}

.vacancy-block__ttl {
  font-size: 30px;
  line-height: 37px;
}

.vacancy-block__wrap {
  margin: 15px 0;
  padding: 32px 25px 25px 25px;
  background-color: #fff;
}

.vacancy-block {
  max-width: 840px;
}

.vacancy-block__table {
  padding: 10px 0;
}

.vacancy-block__table td:first-child {
  font-size: 20px;
  line-height: 24px;
  padding-left: 0;
  position: relative;
}

.vacancy-block__table td:first-child::before {
  position: absolute;
  content: "";
  top: 17px;
  right: 0;
  width: 4px;
  height: 25px;
  background-color:#fbb91b;
}

.vacancy-block__table td {
  padding: 16px;
  vertical-align: top;
}

.vakancy-block__link {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #FFF;
  background-color: #FBB91B;
  max-width: 200px;
  border-radius: 45px;
  padding: 9px 0;
  margin-top: 35px;
}

.vakancy-block__link:hover {
  color: #fff;
  background-color: rgba(251,185,27, 0.8);
}

.contacts__block__more {
  display: none!important;
}

.contacts__block__item__text.active .contacts__block__more{
  display: block!important;
}

.contacts__block_button.active span {
  color: #fbb91b;
}

.contacts__block_button.active .contacts__block__arrow {
  background-image: url(../img/index/ar-down-hover.svg);
  transform: scale(0.8) rotate(-180deg);
}

.services-block__image {
  background-repeat: no-repeat;
  max-width: 320px;
  height: 121px;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.services-block__text {
  background-color: #fff;
  padding: 15px;
  margin: 20px 0 70px;
}

.services-block__text img {
  width: 100%;
  margin-bottom: 30px;
  min-height: 137px;
}

.services-block__list {
  flex-direction: column;  
  border-radius: 10px;
  margin-top: 77px;
  margin-bottom: 20px;
}

.services-block__item {
  max-width: 320px;
  background-color: #fff;
  height: 200px;
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  border-radius: 10px 10px 10px 10px;
  color: #333333;
}

.services-block__item p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.services-block__item.active {
  background: #FBB91B;
  box-shadow: 0px 15px 31px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
}

.services-block__item.active p{
  color: #fff;
}

.services-block__text__wrap {
  display: none;
}

.services-block__text__wrap.active {
  display: block;
}

.services-block__item::first-child {
  border-radius: 10px 10px 0 0;
}

.services-block__item::last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: transparent;
}

.services-block__ttl {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 10px 0 10px;
  padding: 0;
}

.vacancy-banner__mobile {
  display: none;
}

.delivery_wrap img{
  display: block;
}

.delivery-block__text {
  background-color: #fff;
  padding: 15px;
  margin: 20px 0 70px;
}

.banner-item__block-slide2 {
  max-width: 880px;
}

.mm-menu_position-bottom{
  top: 212px;
}

.mm-listitem {
  color: #333333;
  background-color: #fff;
}

.mm-listitem__btn {
  border-color: transparent;
}

.mm-listitem__text a {
  margin: 25px auto;
  display: block;
  max-width: 200px;
  font-size: 16px;
  line-height: 25px;
}

.mmenu-contacts_tel {
  font-size: 23px!important;
  line-height: 26px!important;
}

.mmenu-contacts_logo img{
    width: 65%;
}

.mmenu-contacts_logo::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: -8px;
  left: 0;
  background-image: url("../img/index/icon-logo.svg");
}

.mmenu-contacts_logo {
  position: relative;
  padding-left: 50px;
}

.mm-navbar__btn:not(.mm-hidden)+.mm-navbar__title:last-child {
  font-weight: 600;
  color: #FBB91B;
}

.tag-page__btn {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  width: 85px;
  height: 40px;
  margin: 5px 3px;
  font-size: 15px;
  line-height: 18px;
}

.tag-page__btn:hover {
  background-color: #f2f2f2;
}

.tag-page {
  background-color: #fff;
  border-radius: 0px 10px 10px 10px;
  padding: 25px 15px;
  margin: 5px 0 25px;
}

.ttl-error {
  text-align: center;
  padding: 90px 0 10px;
  margin: 0;
}

.main-error {
  background-color: #fff;
}

.text-error {
  padding: 0;
  margin: 0;
  text-align: center;
}

.wrap-error {
  margin-bottom: 40px;
}

.link-error {
  color: #FBB91B;
  font-weight: bold;
}








































